
p {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 10% auto;
  padding: 2.5em;
}

form > div {
  display: flex;
  background-color: #edf6ff;
}

form > div > p {
  min-width: 20%;
}

form p {
  color: #0b0b18;
}

.full-width-detail {
  padding-top: 4px;
}

.full-width-details {
  float: left;
  padding: 5px;
  margin: 5px;
  width: 150px;
}

.full-width-grid {
  margin-left: 10px;
  padding-top: 25px;
  display: block;
  height: 240px;
}

label {
  display: block;
  margin: 0.95em 5%;
  font-weight: bold;
}

